<div class="bg-img">
    <div fxLayout fxLayout="row wrap">
      <mat-card class="do-card">
      <div id = "test">
        <mat-card-title>TODO</mat-card-title>
        <table cellpadding="0" cellspacing="0" style="border:none">
          <tr *ngFor = "let todo of this.todoService.todoList; let i = index">
            <td width = "80%" *ngIf = "todo.editable == false">
              {{todo.name}}
            </td>
            <td *ngIf = "todo.editable == false" width="50" style="vertical-align: top;">
              <button mat-icon-button  (click)="setEdit(i)" mdbBtn color="primary" mdbWavesEffect>
                <mat-icon>create</mat-icon>
              </button>
            </td>
            <td *ngIf = "todo.editable == false" width="50" style="vertical-align: top;">
              <button mat-icon-button  (click)="delete(i, this.todoService.todoList, this.todoService.todoStorageName)" mdbBtn color="primary" mdbWavesEffect>
                <mat-icon>clear</mat-icon>
              </button>
            </td>
            <td *ngIf = "todo.editable == false" width="50" style="vertical-align: top;">
              <button mat-icon-button  (click)="finish(i)" mdbBtn color="primary" mdbWavesEffect>
                <mat-icon>done</mat-icon>
              </button>
            </td>
            <td *ngIf = "todo.editable == true" style = "word-wrap: break-all;">
              <mat-form-field appearance="legacy">
                <input autocomplete="off" [(ngModel)]="newName" matInput placeholder="{{todo.name}}">
              </mat-form-field>
            </td>
            <td *ngIf = "todo.editable == true" style = "word-wrap: break-all;">
              <button mat-icon-button  (click)="edit(i)" mdbBtn color="primary" mdbWavesEffect>
                <mat-icon>done</mat-icon>
              </button>
            </td>
            <td *ngIf = "todo.editable == true" style = "word-wrap: break-all;">
              <button mat-icon-button  (click)="cancel(i)" mdbBtn color="primary" mdbWavesEffect>
                <mat-icon>redo</mat-icon>
              </button>
            </td>
          </tr>
        </table>
        <mat-form-field class="field" appearance="legacy">
          <input (keydown.enter)="add()" autocomplete="off" [(ngModel)]="name" matInput placeholder="Dodaj aktywność">
        </mat-form-field>
        <button mat-icon-button (click)="add()" mdbBtn color="primary" mdbWavesEffect>
          <mat-icon>add</mat-icon>
        </button>
        </div>
      </mat-card>
    <mat-card class="doneCard">
    <div id="test">
      <mat-card-title>DONE</mat-card-title>
        <table cellpadding="0" cellspacing="0" style="border:none">
          <tr *ngFor = "let done of this.todoService.doneList; let i = index">
            <td width = "90%">
              {{done.name}}
            </td>
            <td width="50" style="vertical-align: top;">
              <button mat-icon-button  (click)="delete(i, this.todoService.doneList, this.todoService.todoDoneStorageName)" mdbBtn color="primary" mdbWavesEffect>
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </tr>
        </table>
    </div></mat-card></div>
  </div>